@import "src/style/var";
.this__day_info {
    position: relative;
    align-items: center;
    width: 750px;
    background: var(#{--components-background-default});
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    height: 300px;
    padding: 32px 42px;

}
.cloud__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
}
.this__day_info_items{
}
.this__day_item{
    z-index: 100;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &:last-of-type{
    margin-bottom: 0;
}
    width: 100%;
}

.this__day_icon{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
}
.this__day_name{
    font-size: 14px;
    color: $base-color;
    width: 79px;

}
.this__day_icon, .this__day_name{
    margin-right: 20px;
}
.this__day_value{
    font-size: 14px;
    color: var(#{--text-color-default});

}
