@import "src/style/var";

.days {
  display: flex;
  flex-direction: column;

}

.get__days_info {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  background: var(#{--components-background-default});
  justify-content: space-between;
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;

}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: var(#{--card-background-default});
  border-radius: 10px;
  transition: 0.3s;
  width: 149px;
  height: 200px;
  padding: 10px;
  margin: 20px 0;

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}

.info, .day__info, {
  color: $base-color;
  font-size: 13px;
}

.temp__day {
  color: var(#{--text-color-default});
  font-size: 22px;
}

.day {
  font-size: 18px;
  margin-bottom: 7px;
  color: var(#{--text-color-default});

}

.temp__night {
  color: $base-color;
  font-size: 13px;
  margin-bottom: 20px;
}

.tab, .cancle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  width: 129px;
  height: 35px;
  margin-bottom: 16px;
  border-radius: 5px;
  margin-right: 15px;
  background: var(#{--components-background-default});

  color: var(#{--text-color-default});


}

.tab {
  &.active {
    background: $primary-color;
  }

}

.tabs {
  display: flex;
  flex-direction: row;

}

.cancle {
  position: absolute;
  right: calc(50% - 600px);
}