@import "src/style/var";
.this__day_info {
    display: flex;
    align-items: center;
    width: 750px;
    background: $light-background;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    height: 300px;
    padding: 32px 42px;
    position: absolute;
    top: calc(50% - 200px);
    right: calc(50% - 350px);
    z-index: 392864926394876;
}
.this__day {
    padding: 20px;
    max-width: 400px;
    width: 100%;

}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    svg {
        width: 50px;
        height: 50px;
    }
    .this__temp {
        font-size: 30px;
        font-weight: 500;
        color: $primary-color;
    }
    .this__day_name {
        font-size: 22px;
        color: $light-color;
    }
}

.bottom__block {
    .this__time,
    .this__city {
        color: $base-color;
        font-size: 15px;
    }
}